@model IEnumerable<ManagementAndPricingOfProjectsMVC.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class ="far fa-plus-square"></i>Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceForProject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceForProject)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId"><i class="fa fa-marker fa-lg"></i></a> 
                <a asp-action="Details" asp-route-id="@item.ProjectId"><i class="fas fa-info fa-lg"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.ProjectId" class="text-danger ml-1"><i class ="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
